html{
	font-size: 10px;
	font-family: 'Open Sans',sans-serif;
}
h1 {
  font-size: 60px;
  text-align: center;
  color:blue;
  text-shadow: 3px 3px 1px black;
}

p, li {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
}